<div class="contact page">
    <h1 class="title">Contact Us</h1>
    <app-card>
        <div class="contact_contents">
            <div class="names">
                <app-input [placeholder]="'First Name'"></app-input>
                <app-input [placeholder]="'Last Name'"></app-input>
            </div>
            <app-input [width]="2" class="email" [placeholder]="'Email'"></app-input>
            <textarea name="" id="" cols="62" rows="10" class="message"></textarea>
            <app-button [text]="'Submit'"></app-button>
        </div>
    </app-card>
</div>