@import '../../../mixins';

.contact {
    app-card {
        .contact_contents {
            @include flex_center;
            padding: 50px 150px 10px 150px;

            .names {
                display: flex;
                flex-direction: row;
            }

            .message {
                border-radius: 10px;
                border:2px solid hotpink;
                width: 452px;
                margin: 5px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                padding-left: 20px;
            }
    
            app-button {
                margin-right: auto;
            }
        }
    }
}