<app-layout>

<div class="about page">
    <h1>Welcome to HandyCalc!</h1>
    <app-card>
        <h3>Welcome to HandyCalc, a simple yet powerful calculator application built using Angular. Designed to demonstrate proficiency in Angular development, HandyCalc offers a clean, intuitive interface for all your basic calculation needs. Whether you're adding, subtracting, multiplying, or dividing, HandyCalc ensures accuracy and ease of use. Perfect for students, professionals, and anyone in need of quick and reliable calculations. Experience the efficiency of modern web development with HandyCalc!</h3>
    
    </app-card>
</div>  
</app-layout>