@import '../../../../mixins';
@import '../../../../colors';

.card {
    @include flex_center;

    box-shadow: 3px 2px 14px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
    background-color: white;
    padding: 16px 20px;
}
