@import '../../../mixins';
@import '../../../colors';


.calculator {

    .calculator_card {
        @include flex_center;

        border: none;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        width: 600px;
        height: 450px;
        padding: 5px;
        border-radius: 10px;
        background: #3ef1fc;

        input {
            width: 440px;
            height: 45px;
            border: none;
            box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            font-size: 45px;
            font-family: math;
            text-align: right;
            color: $primary-dark;
            margin-bottom: 24px;
        }

        .equalButton {
            display: flex;
            flex-direction: row;


            .buttons {

                .row {
                    margin-bottom: 16px;

                    app-calc-button {
                        margin-right: 16px;
                    }
                }
            }
        }
    }
}