@import '../../../mixins';

.login {
    .title {
        padding-bottom: 50px;
    }

    app-card {
        .card_content {
            @include flex_center;


            padding: 16px 100px;

            .icon {
                width: 48px;
                height: auto;
            }

            .contact {
                color: blue;

                &:hover {
                    color: lightblue;
                    cursor: pointer;
                }
            }
        }
    }
}