<div class="login page">
    <h1 class="title">HandyCalc</h1>
    <h2 class="subtitle">The simple, handy calculator.</h2>

    <app-card>
        <form [formGroup]="loginForm" (ngSubmit)="authenticate()" class="card_content">
            <mat-icon>calculate</mat-icon>
            <app-input [text]="'mail_outline'" formControlName="email" icon="email" placeholder="Email" type="email"></app-input>
            <app-input [text]="'lock'" formControlName="password" icon="password" placeholder="Password" type="password"></app-input>
            <app-button [text]="'Login'" type="submit" [disabled]="loginForm.invalid"></app-button>
            <p>Don't have an account? <span class="link" [routerLink]="'/sign-up'">Sign Up</span></p>
            <p class="link" [routerLink]="'/contact'">Contact Us</p>
        </form>
    </app-card>
</div>