@import '../../../../colors';

.navbar {
    background-color: $secondary-dark;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 97vw;
    position: sticky;
    top: 0;
    z-index: 1;


    .brand a {
        font-size: 25px;
        font-family: 'Roboto';
        color: white;
        text-decoration: none;
    }

    .nav-links {

        &__items {
            display: flex;
            align-items: center;
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                display: inline;
                padding: 4px;

                a {
                    padding: 6px 16px;
                    border-radius: 5px;
                    color: white;
                    background-color: $secondary-dark;
                    text-decoration: none;
                    font-size: 14px;
                    font-family: 'Roboto';

                    &:hover {
                        background-color: $primary;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}