@import 'mixins';

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
}

.page {
@include flex_center;
    
    width: 100%;
    height: 100vh;
}

span {
    color: blue;

    &:hover {
        color: lightblue;
        cursor: pointer;
    }
}