/* You can add global styles to this file, and also import other style files */
.page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    width: 100%;
    height: 100vh;
}